name: "Vercel Deploy"

on:
  push:
    branches: ["master"]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: Cache Node.js
        uses: actions/cache@v2
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}

      - name: Install Vercel
        run: |
          npm i -g vercel

      - name: Deploy
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
        run: |
          vercel \
            -t ${{ secrets.VERCEL_TOKEN }} \
            -m githubCommitSha=${GITHUB_SHA} \
            -m githubCommitAuthorName=${{ github.event.sender.login }} \
            -m githubCommitAuthorLogin=${{ github.event.sender.login }} \
            -m githubDeployment=1 \
            -m githubOrg=${{ github.event.repository.owner.name }} \
            -m githubRepo=${{ github.event.repository.name }} \
            -m githubRepoId=${{ github.event.repository.id }} \
            -m githubCommitOrg=${{ github.event.repository.owner.name }} \
            -m githubCommitRepo=${{ github.event.repository.name }} \
            -m githubCommitRepoId=${{ github.event.repository.id }} \
            -m githubCommitMessage="${{ github.event.head_commit.message }}" \
            -m githubCommitRef=${{ github.ref_name}} \
            --prod
